<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<form  id="page_form" method="post" action="{{ post.id}}" enctype="multipart/form-data">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
            {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}<br/>
            {{ field }}<br>
            {% endfor %}

            <br/>
            <button type="submit" name="submit">Add</button>
        </form>

</body>
</html>