<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body class="body">
  <div class="headercon">
    <div class="wrapper">
      <div class="logo"><a href="../dragon"></a></div>
      <div class="topright">
		<div class="livechat"><a href="register/">My Group</a></div>
		<div class="c"><a href="Login/">My Model</a></div>
        <div class="clear"></div>
        <!--topright-->
      </div>
      <div class="clear"></div>
      <!--wrapper-->
    </div>
    <!--headercon-->
  </div>

  <div class="clear"></div>


</body>
</html>