<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
 {% if discussiongroup%}

    <h4>Group Name: {{ discussiongroup.GroupID }}</h4>
    {% endif %}

   {% if result_list%}

     <h4>History Messsage</h4>
     {% for post in result_list %}
          <input type="text" id="GroupID" name="GroupID" class="form-control" value="{{post.GroupID}}" readonly/>
         <ul>
             <li>Publisher User :{{ post.PublisherUserID }}</li>
             <li>Publish Date:{{ post.PublishDate }}</li>
             <li>Comment:{{ post.CommentMDF }}</li>
         </ul>
{% endfor %}
 {% else %}
      <strong>There are no History Message present.</strong>
{% endif %}
<a href="/DiscussGroup/Login/user_GroupListNow">Return</a>


</body>
</html>