<!DOCTYPE html>

{% extends 'DiscussionGroupGroup/base.html' %}

{% block title %}{{ username }}{% endblock %}
{% for post in DiscussionGroup1 %}
            <div>
              <h3><strong>No. {{ forloop.counter }}</strong></h3>
              <div ><ul >
                  <li>{{ DiscussionGroup1.GroupID }}</li>
                  <li><{{ DiscussionGroup1.Tag }}</li>
              </ul>
              </div>

              <!--plan-->
             </div>
{% endfor %}
{% block body_block %}

{% endblock %}

